<div class="main-2">
    <!-- Левая часть — каталог чаев -->
    <div class="lk-tea">
        <div class="headline-2">
            <div>
                <h5>Каталог чаев</h5>
                <div class="line"></div>
            </div>
            <button type="button" class="mainBtn" data-bs-toggle="modal" data-bs-target="#addTea">
        Добавить чай </button>
        </div>

        <!-- Список чаев -->
        <ul class="tea-list">
           
            <li data-teaId="" class="card">
                <h2 class="card-title">fin-footed, semiaquatic marine mammals.</h2>
                
                <img src="https://p4.wallpaperbetter.com/wallpaper/319/275/787/tea-plantation-wallpaper-preview.jpg" alt="">
                <div class="card-desc">{{tea.discription}} 
                <!-- Блок с кнопками> -->
                <div class="card-icon">
                    <img id="btnSettingTea" src="/img/settings_3_line.svg" alt="edit tea">
                    <img id="btnDeleteTea" src="/img/delete_2_line.svg" alt="delete tea">
                </div>
                    <p>
                    Pinnipeds, commonly known as seals,[a] are a widely distributed and
                    diverse clade of carnivorous, fin-footed, semiaquatic marine mammals. They comprise the extant families Odobenidae whose
                    only living member is the walrus, Otariidae the eared seals: sea lions and fur seals, and Phocidae
                    the earless seals, or true seals.</p> 
                </div>
            </li>
            
        </ul>
    </div>

    <!-- Правая часть — список отзывов -->
    <div class="lk-coment">
        <div id="lk-header" class="headline-1">
        <h5>Последние комментарии</h5>
        <div class="line"></div>
        </div>

        <!-- Список отзывов -->
         <ul class="lk-commentList">
        
        <li class="comment">
                <div class="comment-header">
                <h6>Имя комментатора</h6>
                <img class="btnDeleteComment" src="/img/delete_2_line.svg" alt="delete comment">
                </div>
                <span class="description">Я занимаюсь вёрсткой и программированием сайтов. Почти в каждом макете, который я верстал, были модальные окна. Обычно это формы заказа звонка в лендингах, уведомления о завершении каких-то процессов, или сообщения об ошибках.
Вёрстка таких окон сначала кажется простой задачей.</span>
            </li>
            
        </ul>
    </div>
</div>

<!-- Modal Add tea -->

<div class="modal fade" id="addTea" tabindex="-1" aria-labelledby="maddTea" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="main">
        <div class="boxAuth">
          <div class="btnClose">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <h4 class="h4-black">Добавить чай</h4>
          <form name="addTea" class="formDiv">
            <div class="inputDiv">
                <label for="sortoftea" class="form-label">Сорт чая</label>
                <input placeholder="Например, Да Хун Пао" name="title" type="text" class="input" id="sortoftea">
            </div>
            <div class="inputDiv">
                <label for="describe" class="form-label">Описние и заваривание</label>
                <textarea id="describe" type="text" class="input-text" name="description" placeholder="Опишите вкус чая и способ приготовления" ></textarea>
            </div>
             <div class="inputDiv">
                <label for="born" class="form-label">Где выращивают</label>
                <input name="location" type="text" class="input" id="born" placeholder="Например, Фудзиань">
            </div>
             <div class="inputDiv">
                <label for="img" class="form-label">Ссылка на изображение</label>
                <input name="img" type="text" class="input" id="img">
            </div>
            <button type="submit" class="mainBtn">Добавить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>